body{
    max-width: 90%;
    margin:auto;
    font-size:12px;
    font-family:"Open Sans";
    background-color:#8b1d1d;
    background:url(https://cdn-images-1.medium.com/max/800/1*IQqkmPXYZuJViY5p-ymk0A.jpeg) no-repeat bottom right, -moz-linear-gradient(to bottom, #8b1d1d,#502518);
    background-size:cover;

}

blockquote{
    max-width:50%;
    margin:auto;
    background-color:#efefef;
    border-left: firebrick 3px solid;
    padding: 40px 30px 40px 30px;
    font-size:1.6rem;
}

.good, .bad{
    text-transform:capitalize;
}

.bad{color:red;
}

.good{color:green;}

header h1 {
    background-color:yellow;
}

q { 
    padding: 0 0;
    font-style:italic;
}

    q.villagers{
        border-left: dodgerblue 3px solid;
    }

    q.farmer{
        border-left: red 3px solid;
    }

p {
    font-family:verdana;
    color:#2b2b2b;
    letter-spacing:0.5px;
}

a{
  color: rgb(0, 35, 192);
  text-decoration:none;
  font-weight:bold;
  background-color:yellow;
  border-radius:10px;
  padding:5px;
}

a:hover{
    color: rgb(0, 119, 20);
    text-decoration:none;
    font-weight:bold;
    border-bottom:2px dashed rgb(255, 196, 0);
}

a:visited{
    color: rgb(187, 37, 0);
    text-decoration:none;
    font-weight:bold;
    border-bottom:2px dashed blue;
}

table th{background-color:white;}

table tr:nth-child(2n){
    background-color:white;
}

table tr:nth-child(2n+1){
    background-color:grey;
}

ul.typesofpeople{
    list-style-type:none;
    width:286px;
}

ul li:nth-child(1){
    background-image:url(images/bien.png);
    background-position:right;
    background-repeat:no-repeat;
    padding-right:100px;
    background-size:15px;
}

ul li:nth-child(2){
    background-image:url(images/mal.png);
    background-position:right;
    background-repeat:no-repeat;
    padding-right:100px;
    background-size:15px;
}

ul li:nth-child(3){
    background-image:url(images/chat.png);
    background-position:right;
    background-repeat:no-repeat;
    padding-right:100px;
    background-size:15px;
}

p:first-of-type{
    font-weight:bold;
}

img{
    float:left;
    margin:20px;
}





